//global

$XSMALL: 576px;

$SMALL: 580px;

$MEDIUM:768px;

$LARGE: 992px;

$EXTRALARGE: 1200px;

$XXLLARGE: 1400px;

// APPLE MobilePhones


$iPhoneSe: 320px;

$iPhone11Pro: 375px;

$iPhone12: 390px;

$iPhone11: 414px;

$iPhone13: 428px;

// Andriod Devices

$android_small : 320px;

$andriod_middle: 393px;

$andriod_big: 412px;

// Tablets Devices 

$iPadMini: 768px; 

$galaxyTab: 800px;

$surfaceDuo: 1114px;

$iPadAir4: 820px;

$iPadPro: 834px;

// Desktop Version


$macBookPro: 1728px;

$iMac: 2048px;

$smallDesktop : 1280px;

$mediumDesktop: 1366px;

$largeDesktop: 3840px;

$bigger: 1920px;

$high: 2560px;

$super: 3200px;

$superduper: 3840px;








