//Global_Variables

$XSMALL:                576px;

$SMALL:                 580px;

$MEDIUM:                768px;

$LARGE:                 992px;

$EXTRALARGE:           1200px;

$XXLLARGE:             1400px;



//Local_Variables

// APPLE MobilePhones


$IPhoneSe:              320px;

$IPhone11Pro:           375px;

$IPhone12:              390px;

$IPhone11:              414px;

$IPhone13:              428px;




// Andriod Devices

$AndroidSmall :          320px;

$AndriodMiddle:          393px;

$AndriodBig:             412px;



// Tablets Devices 

$IPadMini:               768px; 

$GalaxyTab:              800px;

$SurFaceDuo:            1114px;

$IPadAir4:               820px;

$IPadPro:                834px;




// Desktop Version


$MacBookPro:            1728px;

$IMac:                  2048px;

$SmallDesktop :         1280px;

$MediumDesktop:          366px;

$LargeDesktop:          3840px;

$ExtraLargeDesktop:     1920px;

$HighResolution:        2560px;

$SuperLarge:            3200px;

$SuperDuperLarge:       3840px;








